:root {
	color-scheme: light dark;
	--card: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--main-clr: hsl(289, 85%, 34%);
	--border: 1.6px solid #ccc;
}

@media (prefers-color-scheme: dark) {
	:root {
		--card: 0 1px 4px rgba(200, 200, 200, 0.2), 0 1px 2px rgba(200, 200, 200, 0.3);
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica, Arial, sans-serif;
	text-size-adjust: 100%;
	font-size: 95%;
	background-color: light-dark(hsl(0, 0%, 94%), hsl(0, 0%, 8%));
	color: light-dark(black, #bdc1c6);
	text-rendering: optimizeSpeed;
	margin-left: 20%;
	width: 60%;
}

select,
input[type="number"],
input[type="text"] {
	border: var(--border);
	border-radius: 4px;
	background-color: light-dark(white, hsl(0, 0%, 24%));
	color: inherit;
	padding: 0.4em 0.5em;
	font-family: inherit;
	width: 25ch;
}

button {
	border: none;
	background-color: dodgerblue;
	text-align: center;
	box-shadow: var(--card);
	border-radius: 7px;
	padding: 0.8em 1.5em;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}

input[type="checkbox"] {
	scale: 1.1;
}

.card {
	box-shadow: var(--card);
	border-radius: 0.4em;
}

header {
	font-size: 1.2rem;
	padding: 0.6em;
	background-color: light-dark(whitesmoke, hsl(0, 0%, 20%));
	border-radius: 0.4em 0.4em 0 0;
}

blockquote {
	margin-inline: 0;
	margin-top: 0;
	box-shadow: var(--card);
	border-radius: 0 0 0.4em 0.4em;
	background-color: light-dark(#fff, hsl(0, 0%, 14%));
	color: var(--txt-clr);

	& .config-item:last-child {
		border-bottom: none;
	}
}

h3 {
	margin-block: 0;
}

button {
	border: none;
	background-color: dodgerblue;
	text-align: center;
	box-shadow: var(--card);
	border-radius: 7px;
	padding: 0.8em 1.5em;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}

table {
	--tbl-border: light-dark(hsl(0, 1%, 85%), hsl(0, 1%, 28%));
	border-collapse: collapse;
	width: 100%;
	background-color: var(--block-bgc);

	& td,
	& th {
		border: 1px solid var(--tbl-border);
		text-align: left;
		padding: 8px;
	}

	& tr:nth-child(even) {
		background-color: var(--tbl-border);
	}

	& kbd {
		font-weight: bold;
		font-size: 0.9rem;
	}
}

dialog {
	border: none;
	box-shadow: var(--card);
	border-radius: 0.4em;
	color: inherit;
	background-color: var(--popup-bgc);

	&::backdrop {
		background-color: rgb(0 0 0 / 0.4);
	}

	&[open] {
		animation: slide-from-bottom 0.6s ease-out normal;
	}
}

@keyframes slide-from-bottom {
	from {
		translate: 0 110%;
	}

	to {
		translate: 0 0;
	}
}
