:host {
	position: absolute;
	width: min(14em + 10vw, 25em);
	background-color: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 28%));
	box-shadow: var(--card);
	border-radius: 0.4em;
	transform-origin: top left;
	animation: dialog-grow 300ms ease-in-out forwards;
}

.category-bar {
	padding: 0.5em;
	display: flex;
	column-gap: 0.2em;
	border-bottom: var(--border);

	& div {
		flex-grow: 1;

		&.atv-bar {
			border-bottom: 1px solid red;
		}
	}
}

.emoji-container {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.emoji-category {
	width: 100%;
	flex-shrink: 0;
	height: 60vh;
	overflow-y: auto;
	font-size: 1.4rem;
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	gap: 0.3em;

	& span {
		padding: 0.15em 0.2em;

		&:hover {
			background-color: hsl(0, 0%, 80%);
			border-radius: 0.5em;
			outline: 1px solid hsl(0, 1%, 87%);
		}
	}
}

@keyframes dialog-grow {
	from {
		scale: 0 0;
	}

	to {
		scale: 1 1;
	}
}
