* {
	box-sizing: border-box;
}

[popover] {
	border: none;
	margin: 0;
	padding: 0;
	color: inherit;
	box-shadow: var(--card);
	background-color: light-dark(white, hsl(0, 0%, 20%));
	inset: unset;
	top: var(--bar-height);
}

svg {
	height: 1.4em;
	vertical-align: middle;
	fill: light-dark(black, white);
	cursor: pointer;
}

button {
	border: none;
	padding: 0;
	background-color: inherit;
}

input[type="text"] {
	border: var(--border);
	border-radius: 4px;
	background-color: light-dark(white, black);
	color: inherit;
	padding: 0.4em 0.5em;
	font-family: inherit;
	margin-top: 0.2em;
}

li {
	list-style-type: none;
	padding: 0.3em 0.5em;
	margin-bottom: 0.2em;
	display: flex;
	column-gap: 0.4em;
	align-items: center;
	cursor: pointer;

	&:not(:last-child) {
		border-bottom: var(--border);
	}

	& label,
	& span {
		margin-right: auto;
		flex-grow: 1;
	}

	& kbd {
		font-size: x-small;
	}
}

:host {
	border-radius: 7px 7px 0 0;
	padding: 0.1em 0.2em 0.2em;
	margin-bottom: 2px;
	background-color: light-dark(hsl(0, 0%, 92%), hsl(0, 0%, 18%));
	box-shadow: var(--card);
	display: flex;
	align-items: center;
	column-gap: 0.4em;
}

workspace-tabs {
	margin-inline: auto;
}

/* Tab number coin */
.tab-coin {
	--size: 2.1em;
	--ring-width: 0.25em;
	border-radius: 50%;
	height: var(--size);
	inline-size: var(--size);
	box-shadow: var(--card);
	padding: var(--ring-width);
	background-color: light-dark(hsl(0, 0%, 100%), rgb(60, 60, 60));

	& .coin-ring {
		border-radius: 50%;
		height: calc(var(--size) - var(--ring-width) * 2);
		inline-size: calc(var(--size) - var(--ring-width) * 2);
		box-shadow: inset 0 1px 2px 2px var(--coin-shadow);
		padding: 0.2em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& .tab-num {
		color: red;
		font-size: 0.96rem;
		font-weight: bold;
		text-shadow: 1px 1px 1px var(--coin-shadow);
		text-align: center;
	}
}

#workspaces {
	inset-inline: 0;
	margin-inline: auto;
}

window-list-popup,
workspaces-popup {
	min-width: 40vw;
	& h2 {
		text-align: center;
	}

	& li:has(:checked) {
		background-color: light-dark(white, hsl(0, 0%, 30%));
		--block-sdw-clr: 204 51 255;
		box-shadow: inset -3px 3px 3px 0px rgb(var(--block-sdw-clr) / 0.5),
			inset 3px -3px 3px 0px rgb(var(--block-sdw-clr) / 0.5);
	}

	& li:hover vt-icon[ico="edit"] {
		opacity: 1;
	}

	& vt-icon[ico="edit"] {
		height: 1.2em;
		opacity: 0;
	}
}

.emoji-btn {
	padding: 0.3em;
	background-color: #ccc;
	border-radius: 0.4em;
	outline: 1px solid #ddd;
	margin-left: -3ch;
	cursor: pointer;
}

#emoji-picker {
	top: 35%;
	left: 34%;
}

/* search tabs */
@scope (search-tabs) {
	search {
		position: absolute;
		right: 0;
		padding: 0.4em;
		border-radius: 0.5em;
		box-shadow: var(--card);
		background-color: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 20%));
		scale: 0 1;
		transform-origin: right;
		transition: scale 300ms ease-out;

		&:focus-within {
			scale: 1;
		}

		&:has(input:not(:placeholder-shown)) {
			scale: 1;
		}
	}

	input {
		padding: 0.2em;
		font-size: 0.9rem;
		border: var(--border);
		border-radius: 4px;
		background-color: light-dark(white, hsl(0, 0%, 25%));
		color: var(--txt-clr);
		font-family: inherit;
	}
}

/* edit dialog */
@scope (dialog) {
	:scope {
		border: none;
		border-radius: 0.4em;
		box-shadow: var(--card);
		background-color: light-dark(white, hsl(0, 0%, 14%));
		margin-top: 10em;

		&[open] {
			animation: slide-from-top 0.6s ease-out normal;
		}
	}

	input {
		margin-bottom: 0.8em;
	}

	& div {
		text-align: center;
	}

	button {
		--btn-clr: dodgerblue;
		border: none;
		padding: 0.4em;
		border-radius: 0.4em;
		box-shadow: var(--card);
		background-color: var(--btn-clr);
		color: #fff;
		text-align: center;
		font-weight: bold;
		cursor: pointer;
	}

	.outline-btn {
		border: var(--border);
		background-color: inherit;
		box-shadow: none;
		cursor: pointer;
	}
}

/* import-export */
@scope (import-export-dialog) {
	:scope {
		top: 27em;
		left: 3em;
		border-radius: 0.4em;
	}

	header {
		border-radius: 0.4em 0.4em 0 0;
		box-shadow: var(--card);
		background-color: light-dark(whitesmoke, hsl(0, 0%, 16%));

		& label {
			padding: 0.4em;
			display: inline-block;
			width: 49%;
		}

		& label:has(:checked) {
			background-color: light-dark(white, hsl(0, 0%, 40%));
			--block-sdw-clr: 204 51 255;
			box-shadow: inset -3px 3px 3px 0px rgb(var(--block-sdw-clr) / 0.5),
				inset 3px -3px 3px 0px rgb(var(--block-sdw-clr) / 0.5);
		}
	}

	div {
		display: flex;
		width: 24ch;
		overflow-x: auto;
		scrollbar-width: none;
	}

	section {
		width: 100%;
		flex-shrink: 0;
		padding: 1em;
	}

	button {
		--btn-clr: dodgerblue;
		display: block;
		border: none;
		padding: 0.4em;
		margin-top: 1em;
		margin-inline: auto;
		border-radius: 0.4em;
		box-shadow: var(--card);
		background-color: var(--btn-clr);
		color: #fff;
		font-weight: bold;
		cursor: pointer;
	}
}

vt-icon[ico="chev-down"]:state(checked) path {
	d: path("M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z");
}

@keyframes slide-from-top {
	from {
		translate: 0 -110%;
	}

	to {
		translate: 0 0;
	}
}
