 /* MAIN COLORS */
body {
	background-color: #444444;
}
.toolbar, .scroll_group, #group_list {
	background-color: #444444;
}
::-webkit-scrollbar-thumb {
	background-color: #656565;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #797878;
}
::-webkit-scrollbar-track {
	background-color: #535353;
}
.pin.hover, .tab.hover {
	background-color: #656565;
}
.pin.frozen, .tab.frozen, .active {
	background-color: #5E5E5E;
}
.selected {
	background-color: #8a8a8a;
}
.selected.hover {
	background-color: #808080;
}


 /* BORDERS ON BUTTONS */
#toolbar_main .button:hover {
	background-color: #595959;
	border: 1px solid #828282;
}
#toolbar_tools .button:hover, #toolbar_search .button:hover, .group_options_button:hover, .scroll_group:hover,
.group_options_button:active, #at.active_group, #ut.active_group {
	background-color: #595959;
	border: 1px solid #828282;
}
.group.active_group {
	opacity: 1;
	border: 1px solid #dfdfdf;
}

 /* BORDERS */

.tab, #content_container, #tab_list {
	margin-top: -1px;
}
.tab, #content_container {
	margin-bottom: -1px;
}


.tab, #content_container, #tab_list, #group_list {
	border-top: 1px solid #656565;
}
.pin, .tab, #content_container, #tab_list , #toolbar_groups, #group_list{
	border-bottom: 1px solid #656565;
}

#tabs_container {
	border-left: 1px solid #656565;
	margin-left: -1px;
}

.pin {
	border-right: 1px solid #656565;
}


 /* hide overflow */
#toolbar, #groups_container, #tabs_container, .scroll_group, .group, .pin, .tab, .tab_title, #group_edit, .menu, #toolbar_search, #toolbar_tools {
	overflow: hidden;
}

 /* keep items in one line or column */
.group_title_container, .group_title, .group_tab_count, .group_tab_count, .group_options_title, .tab_favicon, .tab_title {
	white-space: nowrap;
}

 /* width: 100% */
#toolbar, #toolbar_main, #toolbar_search, #toolbar_tools, #content_container, .pin .tab_favicon, .tab, #tabs_container, #tab_list, #pin_list, #group_list {
	width: 100%;
}

 /* height: 100% */
.pin .tab_favicon, .tab_favicon, #tabs_container, #tab_list, #groups_container {
	height: 100%;
}

 /* hidden class - display: none */
#toolbar_main.hidden, #toolbar_search.hidden, #toolbar_tools.hidden, .pin .tab_close {
	display: none; width: 0px;	height: 0px; border: 0px;
}

 /* hidden class - 0px size, when doing calculation on them */
#toolbar.hidden, #groups_container.hidden, #pin_list.hidden {
	width: 0px;	height: 0px; border: 0px;
}

 /* position: relative */
#filter_box, #button_filter_clear, .button, #groups_container, .scroll_group, .group, .group_title, .group_tab_count,
.group_options_title, #tabs_container, #pin_list, #tab_list, .tab_favicon, .pin, .tab, .tab_title {
	position: relative;
}

 /* position: absolute */
.group_title_container, .tab_mediaicon, .tab_close, #group_edit, .menu, #toolbar, #toolbar_main, #toolbar_search, #toolbar_tools, #content_container {
	position: absolute;
}

 /* placement horizontal */
#groups_container, #tabs_container, #filter_box, #button_filter_clear, .button, .tab_favicon, .pin, .tab_close {
	display: inline-block;
	vertical-align: top;
}

 /* placement vertical */
#content_container, #toolbar, #pin_list, #tab_list, .scroll_group, .group, .tab {
	display: vinline-block;
}


.button {
	z-index: 1000;
	width: 22px; height: 22px; bottom: -1px; left: 1px; margin-right: 1px;
	border: 1px solid transparent;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}



#tabs_container {
	top: 0px; right: 0px;
}
#pin_list {
	height: auto;
	overflow-x: auto; overflow-y: hidden;
}


#tab_list {
	overflow-x: hidden; overflow-y: auto; z-index: 100;
}
#group_list::-webkit-scrollbar {
	display: none;
}
#group_list {
	overflow-x: hidden; overflow-y: auto;
}

#groups_container {
	left: 0px;
	width: 19px;
}

.scroll_group {
	width: 16px; height: 16px;
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: center;
}



#scroll_group_up {
	background-image: url(../theme_Dark/arrow_up.svg);
}
#scroll_group_down {
	background-image: url(../theme_Dark/arrow_down.svg);
}


.group_options_button {
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid transparent;
	width: 16px; height: 30px;
}
#new_group {
	background-image: url(../theme_Dark/group_new.svg);
}
#close_group {
	background-image: url(../theme_Dark/group_close.svg);
}
#at {
	background-image: url(../theme_Dark/group_alltabs.svg);
}
#ut {
	background-image: url(../theme_Dark/group_ungrouped.svg);
}
#remove_tabs_from_group {
	background-image: url(../theme_Dark/group_ungroup_tabs.svg);
}
.group:hover{
	opacity: 1;
}
.group {
	width: 16px;
	opacity: 0.8;
    margin: 0;
	border: 1px solid transparent;
}
.group_title_container {
	display: table;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
.group_title, .group_tab_count, .group_options_title {
	font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #d9d9d9;
	background: transparent;
}
.tab_mediaicon {
	display: none;
	left: 2px; bottom: 0px; width: 10px; height: 10px;
	background-size: 10px 10px; background-repeat: no-repeat; 
}
.tab_favicon {
	width: 24px;
	background-size: 16px 16px;
	background-repeat: no-repeat; 
	background-position: center;
	background-image: url(../theme_Dark/empty.png);
}
.pin {
	top: 0px; left: 0px; width: 30px; height: 26px;
}
.tab {
	transition: opacity 0.5s linear, height 0.5s linear;
	left: 0px; height: 24px;
}
.active .tab_title {
	color: #e3e3e3;
	font-weight: bold;
}
.tab_title {
	width: calc(100% - 28px);
	display: inline-block;
	line-height: 26px;
	font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
	font-size: 12px;
	color: #bdbdbd;
	text-overflow: ellipsis;
	background: transparent;
	text-align: left;
	vertical-align: middle;
}
.show_close > .tab_title {
	width: calc(100% - 45px);
}
.pin .tab_title {
	display: none;
}
.tab .tab_close {
	opacity: 0;
	top: 5px; right: 4px;
	width: 16px; height: 16px;
	background: url(../theme_Dark/close.svg);
	background-size: 16px 16px;
}
.tab.show_close .tab_close {
	opacity: 1;
}

.discarded > .tab_favicon {
	opacity: 0.6;
}
.discarded > .tab_title {
	opacity: 0.6;
}


#button_extensions {
	background-image: url(../theme_Dark/toolbar_extensions.svg);
}
#button_discard {
	background-image: url(../theme_Dark/toolbar_discard.svg);
}
#button_bookmarks {
	background-image: url(../theme_Dark/toolbar_bookmarks.svg);
}
#button_options {
	background-image: url(../theme_Dark/toolbar_options.svg);
}
#button_settings {
	background-image: url(../theme_Dark/toolbar_settings.svg);
}
#button_move {
	background-image: url(../theme_Dark/toolbar_move.svg);
}
#button_pin {
	background-image: url(../theme_Dark/toolbar_pin.svg);
}
#button_history {
	background-image: url(../theme_Dark/toolbar_history.svg);
}
#button_undo {
	background-image: url(../theme_Dark/toolbar_undo.svg);
}
#button_downloads {
	background-image: url(../theme_Dark/toolbar_downloads.svg);
}
#button_sort {
	background-image: url(../theme_Dark/toolbar_sort.svg);
}
#button_new {
	background-image: url(../theme_Dark/toolbar_new.svg);
}
#button_tools {
	background-image: url(../theme_Dark/toolbar_tools.svg);
}
#button_search {
	background-image: url(../theme_Dark/toolbar_search.svg);
}
#button_group_bar {
	background-image: url(../theme_Dark/toolbar_group_bar_off.svg);
}
#button_group_bar.on {
	background-image: url(../theme_Dark/toolbar_group_bar_on.svg);
}
#repeat_search {
	background-image: url(../theme_Dark/toolbar_repeat_search.svg);
}
#button_filter_type {
	left: -7px;
}
#button_filter_type.url {
	background-image: url(../theme_Dark/toolbar_filter_url.svg);
}
#button_filter_type.title {
	background-image: url(../theme_Dark/toolbar_filter_title.svg);
}

#filter_box {
	top: 3px; left: 6px; width: 60px;
}

#button_filter_clear {
	top: 6px; left: -14px; width: 16px; height: 16px;
	background: url(../theme_Dark/filter_clear.svg);
	opacity: 1;
}



